.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 1px rgba(161, 161, 161, 0.95);
    /*background-color: red;*/
    /*color: white;*/
    /*text-align: center;*/
}
.form-control {
    border-radius: 5px;
}

div.ibox-content {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
}
    /*html.fresh-html, body.fresh-ui, body {*/
        /*background: transparent*/
    /*}*/

    /*.fresh-ui .ui-layout {*/
        /*margin-top: 0*/
    /*}*/

    /*.ui-card {*/
        /*border: none;*/
        /*-webkit-box-shadow: none !important;*/
        /*box-shadow: none !important;*/
        /*padding: 0*/
    /*}*/

    /*.ui-card__header {*/
        /*display: none*/
    /*}*/

    /*.ui-card__section {*/
        /*padding: 0*/
    /*}*/

    /*.printer-inline-preview {*/
        /*page-break-before: always;*/
        /*overflow: hidden;*/
        /*clear: both*/
    /*}*/

    /*.fresh-ui .ui-layout {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 0;*/
        /*padding: 0*/
    /*}*/

    /*.ui-layout__item {*/
        /*padding: 0*/
    /*}*/

    /*.ui-layout__sections {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 0;*/
        /*padding: 0*/
    /*}*/

    /*.ui-layout__section {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 0;*/
        /*padding: 0*/
    /*}*/

    /*.ui-layout__section--secondary {*/
        /*display: none*/
    /*}*/

    /*.printer-inline-preview {*/
        /*page-break-before: always;*/
        /*overflow: hidden;*/
        /*clear: both*/
    /*}*/

    /*.printer-inline-preview-first {*/
        /*page-break-before: avoid !important*/
    /*}*/

 /*body,  html {*/
    /*font-size: 1em;*/
    /*line-height: normal;*/
    /*background-color: none;*/
    /*background: none;*/
    /*padding-top: 0 !important*/
/*}*/

 #body {
    min-height: 0 !important;
    margin-bottom: 300px;
}

 * {
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-size: 1em;*/
    /*line-height: normal;*/
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.wrapper{
    margin-bottom: 30px;
}
 /*.span1,  .span2,*/
 /*.span3,  .span4,*/
 /*.span5,  .span6,*/
 /*.span7,  .span8,*/
 /*.span9,  .span10,*/
 /*.span11,  .span12,*/
 /*.span13,  .span14,*/
 /*.span15,  .span16,*/
 /*.span17,  .span18,*/
 /*.span19,  .span20,*/
 /*.span21,  .span22,*/
 /*.span23,  .span24 {*/
    /*padding: 0 10px*/
/*}*/

 h1,  h2,  h3,
 h4,  h5,  h6,
 p,  li, span {
    color: #000
}

 span, td {
     font-size: 105%;
     font-weight: normal;
 }

 /*h1,  h2,  h3,*/
 /*h4,  h5,  h6,*/
 /*p,  ul,  ol {*/
    /*margin: 1em 0 1em 0*/
/*}*/

 h1,  h2,  h3,
 h4,  h5,  h6 {
    font-weight: 400;
}

 h1 {
    font-size: 250%
}

 h2 {
    font-size: 175%
}

 h3 {
    font-size: 135%
}

 h4 {
    font-size: 100%
}

 h5 {
    font-size: 100%
}

 h6 {
    font-size: 90%;
    font-style: italic
}

 hr {
    clear: both;
    overflow: hidden;
    margin: 1.5em 0 1.5em 0;
    border-bottom: 1px solid black;
    height: 0
}

 /*a:link,  a:visited {*/
    /*color: #00c;*/
    /*font-weight: bold;*/
    /*text-decoration: underline*/
/*}*/

 b,  strong {
    font-weight: bold
}

 li {
    margin: 0 0 0 2em;
    /*list-style: disc*/
}

 /*.header-row + .row {*/
    /*margin-top: 0px*/
/*}*/

 .documents {
    float: none;
    width: auto
}

 /*.box,  .header-row,*/
 /*.printer-preview-top,  .section.buttons.section-print {*/
    /*display: none !important*/
/*}*/

  /*{*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*padding: 0;*/
    /*border: none;*/
    /*margin: 0*/
/*}*/

 table,  td,  th {
    width: auto;
    border-spacing: 0;
    border-collapse: collapse
}

 td,  th {
    border-bottom: none
}

 #wrapper table.table-tabular,  .table-tabular {
    border: 1px solid #000;
    margin: 0 0 0 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}

 #wrapper table.table-tabular th,  #wrapper table.table-tabular td,
 .table-tabular th,  .table-tabular td {
    padding: 0.5em;
    text-align: left
}

 #wrapper table.table-tabular th,  .table-tabular th {
    border-bottom: 1px solid black
}

 #wrapper table.table-tabular td,  .table-tabular td {
    border-bottom: 1px solid black;
    text-align: left
}

 #wrapper table.table-tabular tfoot td,  .table-tabular tfoot td {
    border-bottom-width: 0px;
    border-top: 1px solid black;
    padding-top: 1em
}

 /*.row {*/
    /*margin: 0*/
/*}*/

.pos-view-body {
    min-height: 1265px !important;
    background: #FFFFFF !important
}
.productImage {
    /*display: block;*/
    max-width:55px;
    max-height:55px;
    width: auto;
    height: auto;
}


    .ui-select {
        font-size: 13px;
        font-weight: 400;
        line-height: 2.4rem;
        text-transform: initial;
        letter-spacing: initial;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        height: 3.4rem;
        width: 100%;
        padding: 0.4rem 0.8rem;
        padding-right: 2.8rem;
        padding-left: 1.6rem;
        background: #fefefe;
        border: 1px solid #c4cdd5;
        border-radius: 3px;
        max-width: none;
        -webkit-transition-property: background, border, -webkit-box-shadow;
        transition-property: background, border, -webkit-box-shadow;
        transition-property: background, border, box-shadow;
        transition-property: background, border, box-shadow, -webkit-box-shadow;
        -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
        transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
        -webkit-transition-duration: 200ms;
        transition-duration: 200ms
    }

    select.minimal {
        background-image:
                linear-gradient(45deg, transparent 50%, gray 50%),
                linear-gradient(135deg, gray 50%, transparent 50%),
                linear-gradient(to right, #ccc, #ccc);
        background-position:
                calc(100% - 20px) calc(1em + 2px),
                calc(100% - 15px) calc(1em + 2px),
                calc(100% - 2.5em) 0.5em;
        background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
        background-repeat: no-repeat;
    }

    #navLink {
        font-weight: bold;
    }


